<!doctype html>
<html lang="en">
{% load leaflet_tags %}

<head>
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}
    {% endblock css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    {% include 'layout/navbar.html' %}
    {% include 'layout/messages.html' %}
    <div class="container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% block body %}
        {% endblock body %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    {% block js %}
    {% endblock js %}
</body>

</html>