{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}" class="page-item text-decoration-none btn btn-outline-primary">«
    Previous page</a>

{% if page_obj.number > 3 %}
<a href="?page=1" class="page-item text-decoration-none">1</a>
{% if page_obj.number > 4 %}
<span>...</span>
{% endif %}
{% endif %}
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a href="?page={{ num }}" class="page-item text-decoration-none btn btn-outline-primary">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a href="?page={{ num }}"
    class="page-item text-decoration-none">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} <span>...</span>
        <a href="?page={{ page_obj.paginator.num_pages }}"
            class="page-item text-decoration-none btn btn-outline-primary">{{ page_obj.paginator.num_pages }}</a>
        {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %} <a
            href="?page={{ page_obj.paginator.num_pages }}"
            class="page-item text-decoration-none btn btn-outline-primary">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}

            <a href="?page={{ page_obj.next_page_number }}"
                class="page-item text-decoration-none btn btn-outline-primary">Next Page »</a>
            {% endif %}